/* Global Css variables for use on the project */

:root {
   /* Colors */

   --section-color-dark: #392a59;
   --section-color-light: #f5f1e9;

   --container-yellow: #f5b972;
   --container-dark-purple: #6f1b86;

   --hover-dark-purple: #6f1b86;
   --hover-dark: #392a59;

   --border-dark: #392a59;
   --border-light: #f5f1e9;

   --text-dark: #392a59;
   --text-brown: #492817;
   --text-light: #f5f1e9;

   --accent-purple: #9c27b0;
   --accent-yellow: #f5b972;

   /* Font-size */

   --font-scale: 1.2;
   --font-base-size: 16px;


   --text-x-small: calc(var(--text-small) / var(--font-scale));;;
   --text-small: calc(var(--text-medium) / var(--font-scale));;
   --text-medium: calc(var(--font-base-size) / var(--font-scale));;
   --text-large: calc(var(--font-base-size) * var(--font-scale));
   --text-x-large: calc(var(--text-large) * var(--font-scale));
   
   --font-h3: calc(var(--text-x-large) * var(--font-scale));
   --font-h2: calc(var(--font-h3) * var(--font-scale));
   --font-h1: calc(var(--font-h2) * var(--font-scale));


  }

  body {
    /* Base font size */
    font-size: var(--font-base-size);
  }

  h1 {font-size: var(--font-h1)};
  h2 {font-size: var(--font-h2)};
  h3 {font-size: var(--font-h3)};
 


/* --------------------------------------------------------------------------------------------------------- */
/* Media Query Desktop */

  @media screen and (min-width: 1200px) {

    :root {
      --font-scale: 1.141;
    }


