@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600;700&family=Source+Serif+4:wght@500;600;700&display=swap");

/* Global Css Variables */

:root {
   /* Colors */

   --section-color-dark: #392a59;
   --section-color-light: #f5f1e9;

   --container-yellow: #f5b972;
   --container-dark-purple: #6f1b86;

   --border-dark: #392a59;
   --border-light: #f5f1e9;

   --text-dark: #392a59;
   --text-brown: #492817;
   --text-light: #f5f1e9;

   /* Font-size */

   --font-scale: 1.2;
   --font-base-size: 16px;

   --text-x-small: calc(var(--text-small) / var(--font-scale));
   --text-small: calc(var(--text-medium) / var(--font-scale));
   --text-medium: var(--font-base-size);
   --text-large: calc(var(--font-base-size) * var(--font-scale));
   --text-x-large: calc(var(--text-large) * var(--font-scale));
   --font-h3: calc(var(--text-x-large) * var(--font-scale));
   --font-h2: calc(var(--font-h3) * var(--font-scale));
   --font-h1: calc(var(--font-h2) * var(--font-scale));

   /* Font-weight */

   --font-weight-bold: 700;
   --font-weight-semi-bold: 600;

   /* Spacing */

   --margin-base: 50px;
   --padding-base: 20px;

   /* container width & height*/

   --section-width: 300px;
   --container-width: 280px;
   --container-width-wide: 320px;
   --cta-container-width: 280px;

   --form-input-width: 280px;
   --form-input-height: 40px;

   --banner-container-height: 500px;

   --number-icon-field-width: 55px;
   --number-icon-field-height: 55px;

   --container-img-height: 300px;

   /* Icon size */
   --icon-size: 20px;
}

* {
   /* Base font size */
   font-size: var(--font-base-size);
   text-decoration: none;
}

body {
   font-family: "Source Sans Pro", sans-serif;
   background-color: #f5f1e9;
   margin: 0;
}

h1,
h2,
h3,
.header-nav__links {
   font-family: "Source Serif 4", sans-serif;
}

ul {
   list-style: none;
   padding: 0;
}

h1 {
   font-size: var(--font-h1);
   font-weight: var(--font-weight-bold);
}
h2 {
   font-size: var(--font-h2);
   font-weight: var(--font-weight-bold);
}
h3 {
   font-size: var(--font-h3);
   font-weight: var(--font-weight-semi-bold);
}

/* ------------------------------------------------------------ */
/* Utility classes */

.margin-vertical {
   margin-top: var(--margin-base);
   margin-bottom: var(--margin-base);
}

.margin-vertical-x2 {
   margin: calc(var(--margin-base) * 2) 0;
}

.padding-all-sides {
   padding: var(--padding-base);
}

.padding-all-sides-x2 {
   padding: calc(var(--padding-base) * 2);
}

.padding-vertical {
   padding: var(--padding-base) 0;
}

.padding-vertical-x2 {
   padding: calc(var(--padding-base) * 2) 0;
}

.margin-center {
   margin-left: auto;
   margin-right: auto;
}

.center-text {
   text-align: center;
}

.grid {
   display: grid;
}

.flex {
   display: flex;
}

.center-x {
   justify-content: center;
}

.center-y {
   align-items: center;
}

.text-size-medium {
   font-size: var(--text-medium);
   font-weight: var(--font-weight-bold);
}

.text-size-large {
   font-size: var(--text-large);
}
.text-size-x-large {
   font-size: var(--text-x-large);
}

.text-size-xx-large {
   font-size: var(--font-h3);
}

.section-width {
   width: var(--section-width);
}

.container-width {
   width: var(--container-width);
}

.container-width-wide {
   width: var(--container-width-wide);
}

.cta-container {
   width: var(--cta-container-width);
}

.container-img-height {
   height: var(--container-img-height);
}

.border-top {
   border-top: 5px solid var(--border-dark);
}

/* ------------------------------------------------------------ */
/* Component Styles */

/* CTA-button Styles */

.cta {
   display: inline-flex;
   width: 180px;
   height: 50px;
   justify-content: center;
   align-items: center;
   text-align: center;
   border-radius: 10px;
   font-size: var(--text-x-large);
   font-weight: var(--font-weight-semi-bold);
}

.cta--yellow {
   background-color: var(--container-yellow);
   color: var(--text-brown);
   transition-property: background-color, color, outline;
   transition: 0.2s ease-out;
}

.cta--yellow:hover {
   background-color: var(--container-dark-purple);
   color: var(--text-light);
   outline: 3.5px solid var(--border-light);
}

.cta--purple,
.cta--contact-page-purple {
   background-color: var(--container-dark-purple);
   color: var(--text-light);
   transition-property: background-color, color;
   transition: 0.2s ease-out;
}

.cta--purple:hover {
   background-color: var(--container-yellow);
   color: var(--text-brown);
   outline: 3.5px solid var(--border-dark);
}

.cta--contact-page-purple:hover {
   background-color: var(--section-color-light);
   color: var(--text-dark);
   outline: 3.5px solid var(--border-dark);
   cursor: pointer;
}

/* Header Section Styles*/

.header,
.header-container {
   box-sizing: border-box;
}

.header {
   background-color: var(--section-color-dark);
}

.header-container {
   grid-template-columns: 280px;
   padding: 30px 20px;
}

.logo-section {
   align-items: center;
}

.logo-section__img {
   display: inline-block;
   min-width: 60px;
   min-height: 60px;
   margin-right: 20px;
   background: no-repeat center/cover url("/images/Project-Semester-Logo-2.png");
}

.logo-section__name {
   font-weight: bold;
   color: var(--text-light);
   opacity: 0.9;
}

.header-nav {
   display: none;
}

/* Banner Style */
.banner-section {
   box-sizing: border-box;
   z-index: 3;
   color: var(--text-light);
   background: linear-gradient(180deg, rgba(57, 42, 89, 0.7) 0%, rgba(105, 41, 131, 1) 50%, rgba(105, 41, 131, 0.7) 100%), url("/images/banner-texture.png") no-repeat center/cover;
}

.banner-section-img {
   background: linear-gradient(180deg, rgba(57, 42, 89, 0.5) 0%, rgba(57, 42, 89, 0.5) 100%), url("/images/Homepage-Hero-banner.jpg") no-repeat center/cover;
}

.banner-section-img--get-involved {
   background: linear-gradient(180deg, rgba(57, 42, 89, 0.5) 0%, rgba(57, 42, 89, 0.5) 100%), url("/images/get-involved-banner.jpg") no-repeat center/cover;
}

.banner-container-height {
   height: var(--banner-container-height);
}

.banner-container__title {
   width: 70%;
}

.number-icon-field {
   display: inline-flex;
   min-width: var(--number-icon-field-width);
   min-height: var(--number-icon-field-height);
   border-radius: 100%;
   background-color: var(--container-yellow);
   color: var(--text-brown);
   font-size: var(--font-h2);
}

/* Breadcrumb Styles */

.breadcrumb {
   background-color: var(--container-dark-purple);
}

.breadcrumb__container > * {
   color: var(--text-light);
   margin: 10px 0;
}

.breadcrumb__icon {
   padding: 0 calc(var(--padding-base) - 10px);
}

.breadcrumb__container-link {
   text-decoration: underline;
   padding-left: var(--padding-base);
}

/* Sticky Menu Styles*/

.sticky-nav {
   z-index: 3;
   position: sticky;
   bottom: 0vh;
   height: 75px;
   border-top: 3px solid var(--border-light);
   border-bottom: 4px solid var(--container-dark-purple);
   background-color: var(--container-dark-purple);
}

.sticky-nav__link-btn,
.sticky-nav__menu-btn {
   width: 79px;
   background-color: var(--container-dark-purple);
   color: var(--text-light);
   flex-direction: column;
   cursor: pointer;
   transition: background-color, color 0.2s ease-out;
}

:is(.sticky-nav__link-btn, .sticky-nav__menu-btn):hover {
   background-color: var(--container-yellow);
   color: var(--text-brown);
}

.sticky-nav__link-btn,
.sticky-nav__menu-btn {
   border-right: 1px solid var(--border-dark);
}

.sticky-nav__link-btn--border {
   border-left: 1px solid var(--border-dark);
}

.sticky-nav__link-btn > i {
   font-size: 20px;
   padding-top: 10px;
}

.sticky-nav__menu-btn-icon {
   font-size: 25px;
   padding-bottom: 10px;
}

.sticky-nav__menu-btn-label {
   flex-direction: column;
   cursor: pointer;
}

.sticky-nav__menu-btn-checkbox {
   display: none;
}

.sticky-menu-open {
   display: none;
}

#checkbox-on-off:checked ~ .sticky-menu-open {
   display: block;
}

.sticky-nav__menu-btn {
   position: relative;
}

.sticky-menu-open {
   box-sizing: border-box;
   position: absolute;
   top: -324px;
   left: -240px;
   height: 321px;
   line-height: 1.9;
   cursor: pointer;
   background-color: var(--container-yellow);
}

.sticky-menu-open__link {
   color: var(--text-brown);
}

/* CTA-Container Styles */

.cta-container-height {
   height: 300px;
}

.yellow-brown-color {
   background-color: var(--container-yellow);
   color: var(--text-brown);
}
.purple-light-color {
   background-color: var(--container-dark-purple);
   color: var(--text-light);
}

.cta-highlight-box--single-event {
   margin-top: var(--margin-base);
}

.cta-highlight-box__content {
   width: 100%;
   flex-direction: column;
   justify-content: space-around;
}

.cta-highlight-box__content > * {
   margin: 0;
}

.cta-highlight-box__img {
   display: none;
   width: 100%;
   background: no-repeat url("/images/Visit_banner-img.jpg");
   background-size: cover;
   background-position-x: -270px;
}

/* Explore Card Styles */

.explore-cta-section,
.event-cta-section {
   grid-template-columns: 280px;
   grid-auto-rows: auto auto auto;
   row-gap: var(--margin-base);
}

.explore-cta-card {
   grid-template-columns: 280px;
   grid-template-rows: 280px 90px;
   box-shadow: 0 0 0;
   transition: box-shadow 0.2s ease-out;
}

:is(.explore-cta-card, .event-cta-card):hover {
   box-shadow: 0 3px 6px var(--section-color-dark);
}

.explore-cta-card:hover > .explore-cta-card__image-field {
   background-size: 230%;
}

.explore-cta-card__image-field--kids,
.explore-cta-card__image-field--teacher,
.explore-cta-card__image-field--researcher {
   transition: background 0.2s ease-in-out;
}

.explore-cta-card__image-field--kids {
   background: no-repeat center/170% url("/images/explore_For-kids.jpg");
}

.explore-cta-card__image-field--teacher {
   background: no-repeat center/170% url("/images/explore_for-teachers.jpg");
}

.explore-cta-card__image-field--researcher {
   background: no-repeat center/170% url("/images/explore_for-reasearchers.jpg");
}

.explore-kids-container__img-newtonian {
   background: no-repeat center/cover url("/images/explore-newtonian-2.jpg");
}

.explore-kids-container__img-star-club {
   background: no-repeat center/cover url("/images/explore-star-club.jpg");
}

.explore-kids-container__img-star-club {
   background: no-repeat center/cover url("/images/explore-star-club.jpg");
}

.explore-kids-container__img-holiday {
   background: no-repeat center/cover url("/images/explore-holiday-2.jpg");
}

.explore-teacher-container__img {
   background: no-repeat center/cover url("/images/explore-teacher.jpg");
}

.explore-researcher-container__img {
   background: no-repeat center/cover url("/images/explore_for-reasearchers.jpg");
}

.explore-cta-card__label-field {
   position: relative;
   background-color: var(--container-dark-purple);
   color: var(--text-light);
}

.explore-cta-card:hover > .explore-cta-card__label-field {
   background-color: var(--container-yellow);
   color: var(--text-brown);
}

.explore-cta-card__label-field-title {
   align-self: center;
   padding-top: 10px;
}

/* reused on event card*/
.icon-field,
.icon-field--single-event {
   position: absolute;
   bottom: 62px;
   left: 113px;
   width: 55px;
   height: 55px;
   border-radius: 100%;
   background-color: var(--container-yellow);
   color: var(--text-brown);
}

.icon-field--single-event {
   left: 41%;
   bottom: 64px;
}

.icon-field--event {
   bottom: 65px;
}

.fas,
.fa-solid {
   font-size: var(--icon-size);
}

.explore-cta-card:hover > .explore-cta-card__label-field .icon-field {
   bottom: 60px;
   left: 110px;
   width: 60px;
   height: 60px;
   background-color: var(--text-brown);
   color: var(--container-yellow);
}

/* Event Card Styles */

.event-cta-card {
   grid-template-columns: 280px;
   grid-template-rows: 120px 370px 90px;
   box-shadow: 0 0 0;
   transition: box-shadow 0.1s ease-out;
}

.main {
   position: relative;
}

.banner-section-title--single-event {
   padding-top: 40px;
   padding-left: 20px;
}

.event-cta-card__title-container,
.event-cta-card__date-container {
   background-color: var(--container-dark-purple);
   color: var(--text-light);
}

.event-cta-card__title {
   padding: 0 var(--padding-base);
}

.event-cta-card__image {
   background: no-repeat center/100%;
   transition: background 0.2s ease-out;
}

.event-cta-card__image--monday-event {
   background-image: url("/images/Event_Professor.jpg");
}

.event-cta-card__image--tuesday-event {
   background-image: url("/images/event_night-in-the-museum.jpg");
}

.event-cta-card__image-friday-event {
   background-image: url("/images/event_energetica.jpg");
}

.event-cta-card:hover > .event-cta-card__image {
   background-size: 120%;
}

.event-cta-card__date-container {
   position: relative;
}

.event-cta-card__date {
   margin: 0;
   font-size: var(--text-large);
}

.event-cta-card:hover > .event-cta-card__title-container,
.event-cta-card:hover > .event-cta-card__date-container {
   background-color: var(--container-yellow);
   color: var(--text-dark);
}

.event-cta-card:hover > .event-cta-card__date-container .icon-field {
   left: 110px;
   width: 60px;
   height: 60px;
   background-color: var(--text-brown);
   color: var(--container-yellow);
}

.event-cta-card:hover > .event-cta-card__date-container .icon-field--event {
   bottom: 60px;
}

/* Single Event Styles */

.single-event-parent-container {
   position: absolute;
   width: 100%;
   height: auto;
}
.single-event-container {
   position: absolute;
   top: -250px;
   height: 500px;
}

.single-event-container__img {
   height: 410px;
   background: no-repeat center/cover url("/images/event_night-in-the-museum.jpg");
}

.single-event-container__content {
   height: 90px;
   justify-content: space-between;
   padding: 0 var(--padding-base);
}

.single-event-description {
   margin-top: 290px;
}

/* Visit Page Styles */

.visit-title-container {
   justify-content: left;
}

.visit-title-container__title {
   margin-right: 15px;
}

.visit-location__img {
   background: no-repeat center/cover url("/images/Visit_location-building.jpg");
}

.visit-food-drink__img {
   background: no-repeat center/cover url("/images/visit_cafe.jpg");
}
.visit-shop__img {
   background: no-repeat center/cover url("/images/visit_shop.jpg");
}

/* Contact Form */

.contact-form__parent-container {
   grid-template-columns: auto;
   grid-gap: var(--padding-base) 0;
}

.contact-form,
.contact-form__child-container {
   flex-direction: column;
}

.contact-form__label {
   padding-bottom: calc(var(--padding-base) / 2);
}

.contact-form__input {
   width: var(--form-input-width);
   height: var(--form-input-height);
}

.contact-form__input,
.contact-form__text-area {
   outline: 2px solid var(--border-dark);
   padding: calc(var(--padding-base) / 2);
   box-sizing: border-box;
   transition: outline 0.2s ease-out;
}

:is(.contact-form__input, .contact-form__text-area):hover {
   outline: 2.75px solid var(--border-dark);
}

input[type="submit" i] {
   border-style: none;
}

::placeholder {
   color: var(--text-dark);
   opacity: 0.7;
}

/* Footer */

.footer {
   background-color: var(--section-color-dark);
   color: var(--text-light);
}

.footer-section {
   grid-template-columns: 280px;
   grid-template-rows: auto;
   row-gap: 20px;
}

.footer-section__logo-container {
   margin-top: 20px;
}

.footer-section-copyright {
   border-top: 3px solid var(--border-light);
   padding: 10px 0;
}

/* --------------------------------------------------------------------------------------------------------- */
/* Media Query Desktop Small Screen */

@media screen and (min-width: 1000px) {
   :root {
      --font-scale: 1.25;

      --margin-base: 100px;

      --section-width: 900px;
      --container-width: 860px;
      --container-width-wide: 860px;
      --cta-container-width: 400px;

      --banner-container-height: 700px;
      --container-img-height: 600px;

      --number-icon-field-width: 80px;
      --number-icon-field-height: 80px;

      --form-input-width: 360px;
      --form-input-height: 50px;
   }

   .cta {
      width: 210px;
      height: 55px;
   }

   .sticky-nav {
      display: none;
   }

   .header {
      z-index: 3;
      position: sticky;
      top: -1px;
      padding: 40px;
   }

   .header-nav {
      display: block;
   }

   .header-container {
      grid-template-columns: 225px auto;
      justify-content: space-between;
      align-items: center;
      padding: 0;
   }

   .logo-section__img {
      width: 60px;
      height: 60px;
   }

   .header-nav__links {
      color: var(--text-light);
      font-size: var(--text-large);
      padding-left: 20px;
   }

   .active-page-link {
      text-decoration: 8px underline var(--container-yellow);
      text-underline-offset: 5px;
   }

   .header-nav__items:hover > .header-nav__links {
      text-decoration: 8px underline var(--container-yellow);
      text-underline-offset: 5px;
   }

   .cta-container {
      height: 400px;
   }

   .cta-highlight-box__content {
      width: 70%;
   }

   .cta-highlight-box__img {
      display: block;
      background-position-x: -117px;
   }

   .explore-cta-section,
   .event-cta-section {
      grid-template-columns: repeat(2, 280px);
      grid-auto-rows: auto;
      grid-gap: 80px;
   }

   .explore-cta-section__title,
   .event-cta-section__title {
      grid-column: span 2;
      text-align: center;
      margin: 0;
   }

   .explore-cta-card {
      grid-template-columns: 280px;
   }

   .icon-field--single-event {
      bottom: 73px;
      left: 415px;
   }

   .explore-cta-card:hover > .explore-cta-card__label-field .icon-field {
      background-color: var(--text-brown);
      color: var(--container-yellow);
   }

   .banner-section-title--single-event {
      padding-top: 120px;
      padding-left: 0;
   }

   .single-event-container {
      top: -340px;
   }

   .single-event-container__img {
      background: no-repeat center/cover url("/images/event_night-in-the-museum-desktop.jpg");
      height: 400px;
   }

   .single-event-container__content {
      height: 100px;
      justify-content: space-around;
   }

   .single-event-description {
      margin-top: 250px;
   }

   .contact-form__parent-container {
      grid-template-columns: auto auto;
      justify-content: space-between;
   }

   .footer-section {
      grid-template-columns: repeat(2, 280px);
      grid-template-rows: auto;
      column-gap: 35%;
   }

   .footer-section__logo-container {
      align-self: end;
      margin-top: 0;
      margin-bottom: 20px;
   }
}

/* Media Query Desktop Wide Screen */

@media screen and (min-width: 1400px) {
   :root {
      --font-scale: 1.331;
      --padding-base: 40px;
      --section-width: 1520px;
      --container-width: 940px;
      --container-width-wide: 1264px;
   }

   .cta {
      width: 240px;
      height: 60px;
   }

   .cta-highlight-box__img {
      display: block;
   }

   .header-container {
      grid-template-columns: 315px auto;
   }

   .header-nav__links {
      font-size: var(--text-x-large);
   }

   .explore-cta-section,
   .event-cta-section {
      grid-template-columns: repeat(3, 280px);
      grid-auto-rows: auto;
   }

   .explore-cta-section__title,
   .event-cta-section__title {
      grid-column: span 3;
   }

   .icon-field--single-event {
      left: 610px;
   }

   .single-event-container {
      width: var(--container-width-wide);
   }

   .footer-section {
      column-gap: 40%;
   }
}
